*~
.DS_Store
vendor/bundler/
vendor/bundle/
.env
.env.*
local_docs/

spec/support/only_failures.rb
spec/failures.txt
lib/tasks/my_task.rake

Gemfile.local
Gemfile.local.lock

.worktree/
/wt1/
/wt2/
/wt3/
/wt4/
/wt5/

.solargraph.yml

local/

# Local settings
settings.local.json
